<!DOCTYPE html>
<html lang="en">
<head>
	
	<%- include('../partials/head');%>


</head>
<body class="container">
<header>
	<%- include('../partials/header');%>
</header>
<main>
	<div class="jumbotron">
		<h1>This is great</h1>
		<p>Welcome to templating using EJS</p>

		<h2> Top services</h<>
		<p><%= tagline%>
		<ul>

		<% services.forEach(function(services){ %>
		<li style: font-size: 14px;>
			<%= services.name %>
			by <%= services.organization%>, services <%= services.serv %>
		</li>
		<% }); %>
		</ul>
	</div>
</main>

<footer>
	<%- include('../partials/footer'); %>
</footer>
</body>
</html>